<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi=
  "http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" /><xi:include href="macros.html" />
  <head>
    <title>
      Test Plan Index
    </title>
    <meta py:if="defined('ts_list')" name="ROBOTS" content="NOINDEX" />
    <script type="text/javascript">
      //<![CDATA[
    jQuery(document).ready(function($) {
        $('#content').find('h1,h2,h3,h4,h5,h6').filter('[id]').addAnchor('Link here');
        $('#add').click(function(){
          window.location ="${req.href.qa('testsuite/add')}";
          });
        });
//]]>
</script>
  </head>
  <body>
    <div id="content" class="admin">
      <h2>
        Test Suites
      </h2>
      <div class="buttons">
        <input id="add" type="button" name="add" value="Add test suite" />
      </div>
      <table class="listing" id="complist">
        <thead>
          <tr>
            <th>
              Id
            </th>
            <th>
              Title
            </th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="ts in ts_list">
            <td class="default">
              <a href="${req.href.qa('testsuite/show', ts.id)}">${ts.id}</a>
            </td>
            <td class="name">
              <a href="${req.href.qa('testsuite/show', ts.id)}">${ts.title}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <br style="clear: right" />
    </div>
  </body>
</html>
